html{
    background-color: rgb(104, 105, 105);
}

.border{
    position: relative;
    height: 800px;
    width: 800px;
    border: 3px solid white;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Vibes', cursive;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    background-color: rgb(56, 55, 55)
}

img{
    position: absolute;
}

.mountain{
    bottom: 15%;
    right: 10%;
}

.cloud1{
    top: 20%;
    left: 10%;
}

.cloud2{
    top: 15%;
    right: 10%;
}

.cloud3{
    top: 30%;
    right: 25%;
}

.txt{
    position: absolute;
    color: white;
    right: 25%;
    bottom: 3%;
}